<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Helper.Properties.Settings.PersonnelDBConnectionString"
            connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
        <add name="Helper.Properties.Settings.IOOCdbConnectionString"
            connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
        <add name="Helper.Properties.Settings.IOOCStaffConnectionString"
            connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>